*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*
    HEADER LOGIN
*/
#header{
    background: #D9D9D9;
    padding: 10px 0;
    width: 100%;
}

#div_nav_header{
    padding: 10px 0;
    width: 100%;
    background: #212121;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#h2_log_out{
    align-self: center;
    color: white;
    text-decoration: underline;
    font-size: 46px;
}

#h2_header{
    align-self: center;
    color: white;
    text-decoration: underline;
    font-size: 46px;
}

/*
    FIN HEADER LOGIN
*/

/*
    DIV LOGIN
*/

#div_login{
    margin: 60px 60px;
    background-color: #D9D9D9;
    padding: 10px;
}

#div_form_login{
    background: #212121;
    align-self: center;
}
#form_login{
    padding: 30px;
    display: flex;
    flex-direction:column;
}

#div_form_login h1{
    font-size: 48px;
    text-align: center;
    color: white;
    padding-top: 2%;
}

#form_login label{
    color: white;
    margin: 10px auto;
    font-size: 20px;
}

#form_login input{
    width: 50%;
    height: 60px;
    margin: 10px auto;
    font-size: 28px;
    text-align: center;
}
/*
    DUDA DE SI PONER MAS BOTONES EN FORMULARIO DE LOGIN
    DE MOMENTO SOLO EL BOTON DE LOGEAR
*/
#form_login button{
    width: 180px;
    padding: 25px;
    margin: 30px auto;
    font-size: 20px;
}
/*
    FIN LOGIN
*/

/*
    FOOTER
*/

#footer{
    background: #D9D9D9;
    padding: 10px 0;
    width: 100%;
}

#div_nav_footer{
    padding: 10px 0;
    width: 100%;
    height: 150px;
    background: #212121;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#copyright_footer{
    align-self: center;
    color: white;
    font-size: 26px;
}

#politicas_footer{
    align-self: center;
    color: white;
    font-size: 26px;
}

#sobre_nosotros_footer{
    align-self: center;
    color: white;
    font-size: 26px;
}

/*
    FIN FOOTER
*/

/*
    HEADER LOGGED
*/

#h2_icono{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-self: center;
}

#h2_icono li {
    align-self: center;
    margin: auto 20px;
}

#h2_icono li h2 {
    text-decoration: none;
}

.profile-icon{
    color:white;
    scale: 2.5;
}

/*

    FIN HEADER LOGGED

*/

/*

    PAGINA INICIO

*/

#fondo_inicio{
    background: #D9D9D9;
    padding: 10px 10px;
    margin: 10px;
}

#div_inicio{
    padding: 10px 10px;
    width: 100%;
    background: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#div_inicio h1{
    color: white;
    padding: 20px;
    font-size: 48px;
}

#div_filtros{
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

#div_filtros select{
    padding: 20px;
    width: 250px;
    margin: 0 20px;
    font-size: 20px;
    text-align: center;
}

#botonera {
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

#botonera button{
    padding: 20px;
    width: 250px;
    margin: 0 20px;
    font-size: 20px;
    text-align: center;
}

#listado_posts{
    background: #D9D9D9;
    margin: 10px;
    width: 98%;
    text-align: center;
}

/*

    FIN PAGINA INICIO A FALTA DE LISTADO DE POSTS

*/

/*

    FORMULARIO DE CREACION DE POSTS

*/

#fondo_form_post{
    background: #D9D9D9;
    padding: 10px 10px;
    margin: 10px;
}

#div_form_post{
    padding: 10px 10px;
    width: 100%;
    background: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form_post{
    padding: 30px;
    display: flex;
    flex-direction:column;
}

#form_post h1{
    font-size: 48px;
    text-align: center;
    color: white;
    padding-top: 2%;
}

#form_post label{
    color: white;
    margin: 10px auto;
    font-size: 26px;
}

#form_post input{
    width: 100%;
    height: 60px;
    margin: 10px auto;
    font-size: 24px;
    text-align: center;
}

#form_post textarea{
    width: 100%;
    height: 150px;
    margin: 10px auto;
    font-size: 24px;
    text-align: center;
}

#div_label_post{
    display:flex;
    flex-direction: row;
}

#div_label_post label{
    color: white;
    font-size: 24px;
}

#div_label_post input{
    color: black;
    font-size: 24px;
    width: 7%;
    height: 10%;
}

#form_post button {
    padding: 20px;
    width: 250px;
    margin: 10px auto;
    font-size: 20px;
    text-align: center;
}

/*

    FIN FORMULARIO CREACION POST

*/

/*

    POST

*/

 .div_post{
    background: #909090;
    width: 1000px;
    margin: 10px auto;
 }

 .div_post h2{
    font-size: 40px;
 }

 .div_post #parrafo2{
    font-size: 20px;
    margin: 10px;
 }

 .div_post #parrafo0{
    font-size: 20px;
    height: 80px;
    margin: 10px;
 }

 #div_bajo_post{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
 }


 /*
 
    FIN POST
 
 */

 /*
 
    PERFIL

 */

 #fondo_perfil{
    background: #D9D9D9;
    padding: 10px 10px;
    margin: 10px auto;
    width: 60%;
    color: white;
 }

 #div_perfil {
    padding: 10px 10px;
    width: 100%;
    background: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

#div_foto_datos{
    display: flex;
    flex-direction: row;
    width: 70%;
    text-align: center;
}

 #div_perfil p{
    font-size: 20px;
    padding: 20px;
}

#div_foto_datos p{
    margin:auto;
}

#div_foto_datos div{
    margin: 70px auto 10px ;
}

#div_botonera_perfil{
    display: flex;
    flex-direction: row;
}

#div_botonera_perfil button{
    padding: 20px;
    width: 250px;
    margin: 10px 80px;
    font-size: 20px;
    text-align: center;
}

#div_descripcion{
    width: 90%;
}

#div_descripcion textarea{
    margin: 10px auto;
    width: 100%;
    height: 200px;
    font-size: 20px;
    padding: 5px;
}

/*

    FIN PERFIL

*/

/*

    DETALLE POST

*/

#fondo_detalle_post{
    background: #D9D9D9;
    margin: 10px auto;
    width: 1000px;
    color: white;
    padding: 10px;
    text-align: center;
 }

.div_post_detail{
    background: #212121;
    color: white;
    padding: 20px;
    
}

.div_post_detail h2{
    font-size: 40px;
 }

 .div_post_detail #parrafo2{
    font-size: 20px;
    margin: 10px;
 }

 .div_post_detail #parrafo0{
    font-size: 20px;
    height: 80px;
    margin: 10px;
 }

 #boton_unirse{
    padding: 10px;
    font-size: 20px;
    margin-top: 40px;
 }