*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
button{
    cursor:pointer;
}

/*
    HEADER LOGIN
*/
#header{
    background: #D9D9D9;
    padding: 10px 0;
    width: 100%;
}

#div_nav_header{
    padding: 10px 0;
    width: 100%;
    background: #212121;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#div_nav_header figure{
    cursor:pointer;
}

#h2_log_out{
    align-self: center;
    color: white;
    text-decoration: underline;
    font-size: 46px;
    cursor:pointer;
}

#h2_header{
    align-self: center;
    color: white;
    text-decoration: underline;
    font-size: 46px;
    cursor:pointer;
}

/*
    FIN HEADER LOGIN
*/

/*
    DIV LOGIN
*/

#div_login{
    margin: 60px 60px;
    background-color: #D9D9D9;
    padding: 10px;
}

#div_form_login{
    background: #212121;
    align-self: center;
}
#form_login{
    padding: 30px;
    display: flex;
    flex-direction:column;
}

#div_form_login h1{
    font-size: 48px;
    text-align: center;
    color: white;
    padding-top: 2%;
}

#form_login label{
    color: white;
    margin: 10px auto;
    font-size: 20px;
}

#form_login input{
    width: 50%;
    height: 60px;
    margin: 10px auto;
    font-size: 28px;
    text-align: center;
}
/*
    DUDA DE SI PONER MAS BOTONES EN FORMULARIO DE LOGIN
    DE MOMENTO SOLO EL BOTON DE LOGEAR
*/
#form_login button{
    width: 180px;
    padding: 25px;
    margin: 30px auto;
    font-size: 20px;
}
/*
    FIN LOGIN
*/

/*
    FOOTER
*/

#footer{
    background: #D9D9D9;
    padding: 10px 0;
    width: 100%;
}

#div_nav_footer{
    padding: 10px 0;
    width: 100%;
    height: 150px;
    background: #212121;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#copyright_footer{
    align-self: center;
    color: white;
    font-size: 26px;
}

#politicas_footer{
    align-self: center;
    color: white;
    font-size: 26px;
}

#sobre_nosotros_footer{
    align-self: center;
    color: white;
    font-size: 26px;
}

/*
    FIN FOOTER
*/

/*
    HEADER LOGGED
*/

#h2_icono{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-self: center;
}

#h2_icono li {
    align-self: center;
    margin: auto 20px;
}

#h2_icono li h2 {
    text-decoration: none;
}

.profile-icon{
    color:white;
    font-size: 2em;
}

/*

    FIN HEADER LOGGED

*/

/*

    PAGINA INICIO

*/

#fondo_inicio{
    background: #D9D9D9;
    padding: 10px 10px;
    margin: 10px;
}

#div_inicio{
    padding: 10px 10px;
    width: 100%;
    background: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#div_inicio h1{
    color: white;
    padding: 20px;
    font-size: 48px;
}

#div_filtros{
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

#div_filtros select{
    padding: 20px;
    width: 250px;
    margin: 0 20px;
    font-size: 20px;
    text-align: center;
}

#botonera {
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

#botonera button{
    padding: 20px;
    width: 250px;
    margin: 0 20px;
    font-size: 20px;
    text-align: center;
}

#listado_posts{
    background: #D9D9D9;
    margin: 10px;
    width: 98%;
    text-align: center;
}

/*

    FIN PAGINA INICIO A FALTA DE LISTADO DE POSTS

*/

/*

    FORMULARIO DE CREACION DE POSTS

*/

#fondo_form_post{
    background: #D9D9D9;
    padding: 10px 10px;
    margin: 10px;
}

#div_form_post{
    padding: 10px 10px;
    width: 100%;
    background: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form_post{
    padding: 30px;
    display: flex;
    flex-direction:column;
}

#form_post h1{
    font-size: 48px;
    text-align: center;
    color: white;
    padding-top: 2%;
}

#form_post label{
    color: white;
    margin: 10px auto;
    font-size: 26px;
}

#form_post input{
    width: 100%;
    height: 60px;
    margin: 10px auto;
    font-size: 24px;
    text-align: center;
}

#form_post textarea{
    width: 100%;
    height: 150px;
    margin: 10px auto;
    font-size: 24px;
    text-align: center;
}

#div_label_post{
    display:flex;
    flex-direction: row;
}

#div_label_post label{
    color: white;
    font-size: 24px;
}

#div_label_post input{
    color: black;
    font-size: 24px;
    width: 7%;
    height: 10%;
}

#form_post button {
    padding: 20px;
    width: 250px;
    margin: 10px auto;
    font-size: 20px;
    text-align: center;
}

/*

    FIN FORMULARIO CREACION POST

*/

/*

    POST

*/

 .div_post{
    background: #909090;
    width: 1000px;
    margin: 10px auto;
    cursor:pointer;
 }

 .div_post h2{
    font-size: 40px;
 }

 .div_post #parrafo2{
    font-size: 20px;
    margin: 10px;
 }

 .div_post #parrafo0{
    font-size: 20px;
    height: 80px;
    margin: 10px;
 }

 #div_bajo_post{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
 }


 /*
 
    FIN POST
 
 */

 /*
 
    PERFIL

 */

 #fondo_perfil{
    background: #D9D9D9;
    padding: 10px 10px;
    margin: 10px auto;
    width: 60%;
    color: white;
 }

 #div_perfil {
    padding: 10px 10px;
    width: 100%;
    background: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

#div_foto_datos{
    display: flex;
    flex-direction: row;
    width: 70%;
    text-align: center;
}

 #div_perfil p{
    font-size: 20px;
    padding: 20px;
}

#div_foto_datos p{
    margin:auto;
}

#div_foto_datos div{
    margin: 70px auto 10px ;
}

#div_botonera_perfil{
    display: flex;
    flex-direction: row;
}

#div_botonera_perfil button{
    padding: 20px;
    width: 250px;
    margin: 10px 80px;
    font-size: 20px;
    text-align: center;
}

#div_descripcion{
    width: 90%;
}

#div_descripcion textarea{
    margin: 10px auto;
    width: 100%;
    height: 200px;
    font-size: 20px;
    padding: 5px;
}

#fondo_panel_admin{
    background: #D9D9D9;
    padding: 10px 10px;
    margin: 10px auto;
    width: 60%;
    color: white;
}

#div_panel_admin{
    padding: 10px 10px;
    width: 100%;
    background: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div_panel_admin h2{
    font-size: 40px;
    padding: 20px;
}

#listado_admin{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px 0;
    
}

#listado_admin div{
    padding: 10px;
    text-align: center;
    font-size: 20px;
    cursor:pointer;
}

/*

    FIN PERFIL

*/

/*

    DETALLE POST

*/

#fondo_detalle_post{
    background: #D9D9D9;
    margin: 10px auto;
    width: 1000px;
    color: white;
    padding: 10px;
    text-align: center;
 }

.div_post_detail{
    background: #212121;
    color: white;
    padding: 20px;
    
}

.div_post_detail h2{
    font-size: 40px;
 }

 .div_post_detail #parrafo2{
    font-size: 20px;
    margin: 10px;
 }

 .div_post_detail #parrafo0{
    font-size: 20px;
    height: 80px;
    margin: 10px;
 }

 #boton_unirse{
    padding: 10px;
    font-size: 20px;
    margin-top: 40px;
 }

 /*
 
    FIN DETALLE POST
 
 */

 /*
 
    LANDING PAGE
 
 */

 #div_landing{
    background: #212121;
    height: 670px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
 }

 #div_texto_landing{
    margin:100px 40px;
    width: 60%;
 }

 #div_boton_login{
    width: 40%;
 }

 #div_boton_login p{
    font-size: 32px;
    margin-top: 200px;
    margin-right: 200px;
    text-align: justify;
 }

 #div_boton_login button{
    padding: 25px;
    font-size: 20px;
    margin: 100px 0 0 100px;
 }
 

 #div_landing h1{
    font-size: 48px;
    margin: 20px 0 60px 0;
 }

 
 #div_texto_landing p{
    font-size: 40px;
    width: 60%;
    text-align: justify;
 }

 /*
 
    FIN LANDING PAGE
 
 */

 /*
 
    MENU ADMIN PARTIDAS
 
 */

 #fondo_admin{
    background: #D9D9D9;
    margin: 10px auto;
    width: 1000px;
    padding: 10px;
    text-align: center;
 }

#menu_admin{
    background: #212121;
    padding: 20px;
 }

#menu_admin h1{
    font-size: 43px;
    margin: auto 20px 20px auto;
    color: white;
}

#div_listado_admin{
    display: flex;
    flex-direction: column;
}

#div_listado_admin div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
    cursor:pointer;
}

#div_listado_admin div h2{
width: 70%;
}

#fondo_lista_jugadores{
    background: #D9D9D9;
    margin: 10px auto;
    width: 1000px;
    padding: 10px;
    text-align: center;
}

#div_listado_jugadores{
    background: #212121;
    padding: 20px;
}

#div_listado_jugadores h1{
    font-size: 43px;
    margin: auto 20px 20px auto;
    color: white;
}

#div_listado_jugadores_interior{
    display: flex;
    flex-direction: column;
}

#div_listado_jugadores_interior div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
    cursor:pointer;
}

/*

    FIN MENU ADMIN PARTIDAS

*/

/*

    LIST POST ADMIN

*/

#fondo_post_list{
    background: #D9D9D9;
    margin: 10px auto;
    width: 85%;
    padding: 10px;
    text-align: center;
}

#div_post_list{
    background: #212121;
    padding: 20px;
    color: white;
}

#div_post_list h2{
    font-size: 40px;
}

#div_post_list button{
    padding: 15px;
    font-size: 20px;
    margin: 20px;
    width: 150px;
}

#div_listado_admin_post div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor:pointer;
}

#div_listado_admin_post div p{
    margin: auto;
    font-size: 20px;
}

#fondo_form_actualizar_post{
    background: #D9D9D9;
    margin: 10px auto;
    width: 85%;
    padding: 10px;
    text-align: center;
}

#div_form_actualizar_post{
    background: #212121;
    padding: 20px;
    color: white;
}

#div_form_actualizar_post h2{
    font-size: 40px;
    text-align: center;
    margin: 20px;
}

#form_actualizar_post{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin:auto;
}

#form_act_titulo {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    width: 40%;
    margin:20px auto;
}

#form_actualizar_post textarea{
    width: 60%;
    font-size: 20px;
    margin: auto;
    height: 200px;
}

#form_actualizar_post label{
    font-size: 20px;
    margin:10px auto;
}
#form_act_num_jugadores{
    width: 10%;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    margin: 10px auto;
}

#form_actualizar_post button{
    padding: 20px;
    font-size: 20px;
    width: 25%;
    margin:10px  auto;
}
/*
FIN LIST POST ADMIN
-----------------------------------
LIST USER ADMIN
*/
#fondo_user_list{
    background: #D9D9D9;
    margin: 10px auto;
    width: 85%;
    padding: 10px;
    text-align: center;
}

#div_user_list{
    background: #212121;
    padding: 20px;
    color: white;
}

#div_user_list h2{
    font-size: 40px;
}

#div_user_list button{
    padding: 15px;
    font-size: 20px;
    margin: 20px;
    width: 150px;
}

#div_listado_admin_usuario div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor:pointer;
}


#div_listado_admin_usuario div p{
    margin: auto;
    font-size: 20px;
}

#fondo_form_actualizar_user{
    background: #D9D9D9;
    margin: 10px auto;
    width: 85%;
    padding: 10px;
    text-align: center;
}

#div_form_actualizar_user{
    background: #212121;
    padding: 20px;
    color: white;
}

#div_form_actualizar_user h2{
    font-size: 40px;
    text-align: center;
    margin: 20px;
}

#form_actualizar_user{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin:auto;
}

#form_act_user {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    width: 40%;
    margin:20px auto;
}

#form_act_email{
    padding: 20px;
    font-size: 20px;
    text-align: center;
    width: 40%;
    margin:20px auto;
}

#form_act_password{
    padding: 20px;
    font-size: 20px;
    text-align: center;
    width: 40%;
    margin:20px auto;
}

#form_actualizar_user textarea{
    width: 60%;
    font-size: 20px;
    margin: auto;
    height: 200px;
}

#form_actualizar_user label{
    font-size: 20px;
    margin:10px auto;
}
#form_act_num_jugadores{
    width: 10%;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    margin: 10px auto;
}

#form_actualizar_user button{
    padding: 20px;
    font-size: 20px;
    width: 25%;
    margin:10px  auto;
}

/*

    FIN LIST USER ADMIN

*/